{% extends 'network/layout.html' %}
{% load static %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
<script src="{% static 'network/following.js' %}"></script>
{% endblock script%}

{% block body %}
<h1>Following</h1>

{% comment %} Show New Post section only when user is logged in {% endcomment %}
{% if user.is_authenticated %}
<div id="all_post_title" class="border rounded pl-4 pr-4">
    <h3 class="mt-2">New Post</h3>

    <form id="post_form" method="post">
        <div class="form-group">
            <textarea class="form-control" id="new_post" rows="3"></textarea>
            <button class="btn btn-primary mt-2" type="submit">Post</button>
        </div>

    </form>
</div>

<div id="all_following_posts">
</div>

<div id="edit_post">
    <div id="all_post_title" class="border rounded pl-4 pr-4">

        <h3 class="mt-2">Edit Post</h3>
        <form id="edit_form" method="post">
            <div class="form-group">
                <textarea class="form-control" id="edit_post_text" rows="3"></textarea>
                <button class="btn btn-primary mt-2" type="submit">Save</button>
            </div>

        </form>
    </div>
</div>


<div id="profile">
    <h1>Profile Page</h1>
    {% comment %} Profile placeholder {% endcomment %}
    <div class="mt-5 text-center">
        <h4 id="username" class="mb-0"></h4>
        <button id="follow_button" class="btn btn-primary btn-sm follow"></button>
        <div class="d-flex justify-content-between align-items-center mt-4 px-4">
            <div class="stats">
                <h6 class="mb-0">Followers</h6> <span id="followers"></span>
            </div>
            <div class="stats">
                <h6 class="mb-0">Following</h6> <span id="following"></span>
            </div>
            <div class="stats">
                <h6 class="mb-0">Posts</h6> <span id="post_num"></span>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}