.post {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 5px;
  padding-left: 4%;
  padding-right: 4%;
}

.empty_heart {
  cursor: pointer;
}

.filled_heart {
  cursor: pointer;
}

#following_link {
  cursor: pointer;
}
